<!-- <h1>this is Appcomponent</h1> -->

<!-- ============================================ -->
<!-- 
YOU have to decorate the angular element as html element -->

<!-- <app-test></app-test>

<app-customer-signup></app-customer-signup> -->
<!-- <button class="btn btn-primary">Primary</button> -->

<form style="margin-bottom: 50em">
  <div class="container mt-5">
    <div class="">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-4 border-bottom border-info">
          <h3>String interpolation</h3>
          <div class="mt-4"></div>
          <div class="mt-4">{{ Project }} and {{ title }}</div>
          <div class="mt-4">{{ getOwnername() }}</div>
        </li>

        <li class="list-group-item p-4 border-bottom border-info">
          <h3>Property Data Binding</h3>
          <div class="row"></div>
          <input type="text" [value]="ownerRole" class="form-control mt-4" />
        </li>

        <div class="row"></div>
        <input [type]="inputType" class="mt-4" />

        <li class="list-group-item p-4 border-bottom border-info">
          <h3>Event Data Binding</h3>
          <div class="row mt-4">
            <div class="col-mt-6"></div>
            <input
              type="text"
              placholder="keypress"
              class="form-control mt-4"
              (keypress)="capturedata($event)"
            />

            <div class="row mt-4">
              <div class="col-mt-6">
                <button (click)="(btnclick)" class="btn-btn-primary">
                  Click
                </button>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item p-4 border-bottom border-info">
          <h3>
            Handling the Event Data binding and Property Data binding together
            in same element
          </h3>
        </li>
      </ul>
    </div>
  </div>
</form>
<form>
  <h6>Angular with (ngModelChange) and [ngModel]</h6>
  <div class="row mt-4">
    <div class="col-md-6">
      <!-- text  that will be in string -->
      <input
        placeholder="Location"
        class="form-control"
        type="text"
        name="cusJohnLocation"
        [ngModel]="cusJohnLocation"
        (ngModelChange)="evtCusLocationModelChange($event)"
      />
    </div>
    <div class="col-md-6">
      <p class="text-primary mt-auto">Value is :{{ cusJohnLocation }}</p>
    </div>
  </div>
</form>
